header {
    background-color: #2A2A2A;
    padding: 16px 160px;
  }
nav {
  display: inline-block;
  vertical-align: top;
  float: right;
  padding-top: 16px;
}
nav a {
  text-transform: uppercase;
  font-weight: bold;
  color: #d4d4d4;
  text-decoration: none;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 13px;
}
nav a#blueBox {
  background-color: #107698;
  color: white;
}

nav a#orangehighlight {
color: orange
}

h1 {
  font-weight: 300;
  background-image: url( https://www.optimal-partners.com/site_images/ourServicesHeader.jpg);
background-position: center;
color: #ffff;
font-size: 50px;
text-shadow: 1px 2px 2px #000;
text-align: center;
padding: 70px 0;
width: 100;
}
.weserve p span {
  color: #ffa500;
}
/* common styling of the content */


.weserve{
  padding: 50px 0px 70px;
}

.weserve div {
  max-width: 1150px;
  margin: auto;
  }
p {
  line-height: 1.4;
}
  /* common h2 styling */

.variety h2 {
  font-size: 44px;
  color: #0a465b;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 10px;
  }

div > p {
 color: #7f969e;
 font-size: 16px;
 text-align: center;
 max-width: 856;
 margin: auto;
 padding: 10px 0px;
 line-height: 1.4;
 height: 100%;
}

/* greybackground */
.varietyservice {
  background-color: #edeff3;
  }

  /* box styling */

  div  {
    display: flex;
    justify-content: center;
    gap: 32px;
    background-color: #EDEff3;

  }
.varietyservicebox article {
  box-shadow: 0px 3px 8px 0px rgb(0 0 0 /20% );
  width: 260px;
  background-color: white;
}
  .varietyservicebox article h3 {
    background-color: #0a465b;
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    height: 60px;
    border-bottom: 5px; solid lightgrey;
    padding: 25px 20px 25px;
  }

.varietyservicebox article p {
  padding: 20px 25px;
  color: #7f969e;

}
section .varietyservice h2 {
    font-size: 34px;
    color: #0a465b;
    margin-bottom: 30px;
    padding: 70px 40px;;
    vertical-align: baseline;
    text-align: center;
}






















  /* felxibiity centerpara styling */

  .centerpara1 {
    font-family: BrandonText-Bold;
    font-size: 22px;
    color: #0a465b
    border-bottom: 2px #FDB530 solid;
    text-align: center;
    width: 80%;
    margin: auto;
    padding-top: 7px;
    padding-bottom: 7px;
    max-width: 350px;
    text-align: center;
    float: left;
    margin-top: 30px;
    margin-right: 50px;
}

.




/* box2styling */

div  {
  display: flex;
  justify-content: center;
  gap: 32px;
  background-color: white;

}
.Specializationsbox article {
box-shadow: 0px 3px 8px 0px rgb(0 0 0 /20% );
width: 260px;
background-color: white;
}
.Specializationsbox  article h3 {
  background-color: #0a465b;
  color: white;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  height: 60px;
  border-bottom: 5px; solid lightgrey;
  padding: 25px 20px 25px;
}

.Specializationsbox  article p {
padding: 20px 25px;
color: #7f969e;

}
section .Specializationsbox  h2 {
  font-size: 34px;
  color: #0a465b;
  margin-bottom: 30px;
  padding: 70px 40px;;
  vertical-align: baseline;
  text-align: center;
}
