*{
  margin: 0; padding: 0;background: #896B60;
}
nav {
  width: 100;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
  font-family: 'poppins',sans-serif;
}
.logo{
  padding: 20px 40px;
}

.menu  {

  float: right;
  }
  .menu a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 10px 40px;
  margin: 0px 5px;
  }


.menu a:last-child{
  background: #e74c3c;
  border-radius: 5px;
}

.menu a:hover{
  background: #e74c3c;
  border-radius: 5px;
  transition: 0.4s linear;
}



.history{
  margin-top: 50px;S
}




h2 {
  font-size: 30px;
  color: #ffff;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 10px;
  }

  div > p {
     color: #ffff;
     font-size: 20px;
    text-align: justify;
     max-width: 856;
     margin: auto;
     padding: 10px 30px 0px 30px;
     line-height: 1.4;
     height: 100%;
    }
